In [27]:
from bs4 import BeautifulSoup
import requests
import time

In [28]:
url = "https://www.data.jma.go.jp/obd/stats/etrn/view/hourly_a1.php?prec_no=45&block_no=1236&year=2024&month=01&day=1&view=p1"
temperature_data = []
time.sleep(0.1)

In [29]:
res = requests.get(url)
html = res.text
soup = BeautifulSoup(res.text, 'html.parser')
time.sleep(0.1)

In [30]:
for tr in soup.find_all('tr', class_='mtx'):
    td_list = tr.find_all('td')
    if len(td_list) >= 3:
        time_values = td_list[0].text.strip()
        temperature_values = td_list[2].text.strip()
        temperature_data.append({'time': time_values, 'temperature': temperature_values})

In [31]:
for item  in temperature_data:
    print(f"Time: {item['time']}, Temperature: {item['temperature']}")

Time: 1, Temperature: 10.0
Time: 2, Temperature: 10.6
Time: 3, Temperature: 10.1
Time: 4, Temperature: 9.8
Time: 5, Temperature: 9.5
Time: 6, Temperature: 9.0
Time: 7, Temperature: 8.5
Time: 8, Temperature: 8.7
Time: 9, Temperature: 9.8
Time: 10, Temperature: 10.4
Time: 11, Temperature: 10.7
Time: 12, Temperature: 11.6
Time: 13, Temperature: 12.1
Time: 14, Temperature: 12.1
Time: 15, Temperature: 11.8
Time: 16, Temperature: 11.4
Time: 17, Temperature: 10.0
Time: 18, Temperature: 8.8
Time: 19, Temperature: 7.3
Time: 20, Temperature: 6.4
Time: 21, Temperature: 5.7
Time: 22, Temperature: 5.3
Time: 23, Temperature: 4.3
Time: 24, Temperature: 4.1

In [32]:
import sqlite3

In [33]:
con = sqlite3.connect('google_database.db')
cur = con.cursor()

sql_createtable_DSp = 'CREATE TABLE IF NOT EXISTS sql_DS (time TEXT, temperature TEXT)'
cur.execute(sql_createtable_DSp)

for item in temperature_data:
    cur.execute('INSERT INTO sql_DS (time, temperature) VALUES (?, ?)', (item['time'], item['temperature']))

con.commit()

con.close()

In [34]:
con = sqlite3.connect('google_database.db')
cur = con.cursor()

cur.execute('SELECT * FROM sql_DS')
rows = cur.fetchall()

for row in rows:
    print(row)

con.close()

('1', '10.0')
('2', '10.6')
('3', '10.1')
('4', '9.8')
('5', '9.5')
('6', '9.0')
('7', '8.5')
('8', '8.7')
('9', '9.8')
('10', '10.4')
('11', '10.7')
('12', '11.6')
('13', '12.1')
('14', '12.1')
('15', '11.8')
('16', '11.4')
('17', '10.0')
('18', '8.8')
('19', '7.3')
('20', '6.4')
('21', '5.7')
('22', '5.3')
('23', '4.3')
('24', '4.1')
('1', '10.0')
('2', '10.6')
('3', '10.1')
('4', '9.8')
('5', '9.5')
('6', '9.0')
('7', '8.5')
('8', '8.7')
('9', '9.8')
('10', '10.4')
('11', '10.7')
('12', '11.6')
('13', '12.1')
('14', '12.1')
('15', '11.8')
('16', '11.4')
('17', '10.0')
('18', '8.8')
('19', '7.3')
('20', '6.4')
('21', '5.7')
('22', '5.3')
('23', '4.3')
('24', '4.1')