In [1]:
from bs4 import BeautifulSoup
import requests
import time

In [2]:
url = "https://www.data.jma.go.jp/obd/stats/etrn/view/hourly_a1.php?prec_no=45&block_no=1236&year=2024&month=01&day=1&view=p1"
temperature_data = []
time.sleep(0.1)

In [3]:
res = requests.get(url)
html = res.text
soup = BeautifulSoup(res.text, 'html.parser')
time.sleep(0.1)

In [4]:
for tr in soup.find_all('tr', class_='mtx'):
    td_list = tr.find_all('td')
    if len(td_list) >= 3:
        time_values = td_list[0].text.strip()
        temperature_values = td_list[2].text.strip()
        sunshine_hours_values = td_list[8].text.strip()
        temperature_data.append({'time': time_values, 'temperature': temperature_values, 'sunshine_hour': sunshine_hours_values})

In [5]:
for item  in temperature_data:
    print(f"Time: {item['time']}, Temperature: {item['temperature']}, Sunshine_hours: {item['sunshine_hour']}")

Time: 1, Temperature: 10.0, Sunshine_hours:
Time: 2, Temperature: 10.6, Sunshine_hours:
Time: 3, Temperature: 10.1, Sunshine_hours:
Time: 4, Temperature: 9.8, Sunshine_hours:
Time: 5, Temperature: 9.5, Sunshine_hours:
Time: 6, Temperature: 9.0, Sunshine_hours:
Time: 7, Temperature: 8.5, Sunshine_hours: 0.0
Time: 8, Temperature: 8.7, Sunshine_hours: 0.8
Time: 9, Temperature: 9.8, Sunshine_hours: 1.0
Time: 10, Temperature: 10.4, Sunshine_hours: 1.0
Time: 11, Temperature: 10.7, Sunshine_hours: 1.0
Time: 12, Temperature: 11.6, Sunshine_hours: 1.0
Time: 13, Temperature: 12.1, Sunshine_hours: 1.0
Time: 14, Temperature: 12.1, Sunshine_hours: 1.0
Time: 15, Temperature: 11.8, Sunshine_hours: 1.0
Time: 16, Temperature: 11.4, Sunshine_hours: 1.0
Time: 17, Temperature: 10.0, Sunshine_hours: 0.4
Time: 18, Temperature: 8.8, Sunshine_hours:
Time: 19, Temperature: 7.3, Sunshine_hours:
Time: 20, Temperature: 6.4, Sunshine_hours:
Time: 21, Temperature: 5.7, Sunshine_hours:
Time: 22, Temperature: 5.3, Sunshine_hours:
Time: 23, Temperature: 4.3, Sunshine_hours:
Time: 24, Temperature: 4.1, Sunshine_hours:

In [6]:
import sqlite3

In [7]:
con = sqlite3.connect('google_database.db')
cur = con.cursor()

sql_createtable_DSp = 'CREATE TABLE IF NOT EXISTS sql_DS (time TEXT, temperature TEXT, sunshine_hour TEXT)'
cur.execute(sql_createtable_DSp)

for item in temperature_data:
    cur.execute('INSERT INTO sql_DS (time, temperature, sunshine_hour) VALUES (?, ?, ?)', (item['time'], item['temperature'], item['sunshine_hour']))

con.commit()

con.close()

In [8]:
con = sqlite3.connect('google_database.db')
cur = con.cursor()

cur.execute('SELECT * FROM sql_DS')
rows = cur.fetchall()

for row in rows:
    print(row)

con.close()

('1', '10.0', '')
('2', '10.6', '')
('3', '10.1', '')
('4', '9.8', '')
('5', '9.5', '')
('6', '9.0', '')
('7', '8.5', '0.0')
('8', '8.7', '0.8')
('9', '9.8', '1.0')
('10', '10.4', '1.0')
('11', '10.7', '1.0')
('12', '11.6', '1.0')
('13', '12.1', '1.0')
('14', '12.1', '1.0')
('15', '11.8', '1.0')
('16', '11.4', '1.0')
('17', '10.0', '0.4')
('18', '8.8', '')
('19', '7.3', '')
('20', '6.4', '')
('21', '5.7', '')
('22', '5.3', '')
('23', '4.3', '')
('24', '4.1', '')